body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #404040;
}

h2, h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}

table {
width: 100%;
margin-bottom: 10px;
padding: 0;
font-size: 13px;
border-collapse: collapse;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;

}

table td.last, table th.last {
	text-align: right;
}	

.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom:1;
}

.pull-left {
float: left;
}

.pull-right {
float: right;
}

table td {
	vertical-align: top;
	border-top: dashed 1px #CCCCCC;
}

td
{
text-align:center;
}

element.style {
}

.amount {
background: #f6f6f6;
padding: 10px;
}

p {
	line-height: 18px;
	margin-bottom: 10px;
}	

.neutral {
color: #999;
}

hr {
	border : none;
	border-top : dashed 1px #CCCCCC;
	color : #FFFFFF;
 	background-color : #FFFFFF;
	height : 1px;
}