body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #404040;
}

h2, h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}

table {
width: 100%;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;

}

table td.last, table th.last {
	text-align: right;
}	

table td {
	vertical-align: top;
	border-top: 1px solid #DDD;
}

element.style {
}

small, .small, small a, .small a {
	line-height: 18px;
}

p {
	line-height: 18px;
	margin-bottom: 10px;
}	

.neutral {
color: #999;
}

hr {
	border : none;
	border-top : dashed 1px #CCCCCC;
	color : #FFFFFF;
 	background-color : #FFFFFF;
	height : 1px;
}